@charset "utf-8";
/* CSS Document */

.main_banner{position:relative;height:218px;background:url(../images/main_banner.png) repeat-x;}
.main_banner_content{position:absolute;left:50%;top:50%;margin-left:-474.5px;margin-top:-36px;background:url(../images/main_banner_content.png) no-repeat;width:949px;height:72px;z-index:1;}
.main_conleft{width:60%;}
.main_conleft .main_conleft_lcon{width:49.5%;border:1px solid #c1c1c3;border-top:3px solid #1f77ce;}
.main_conleft .main_conleft_rcon{margin-left:49.7%;}
.main_conleft .main_conleft_rcon .rcon_content{border:1px solid #c1c1c3;border-top:3px solid #1f77ce;}
.main_conright{margin-left:60%;}
.main_conright .main_conright_con{border:1px solid #c1c1c3;border-top:3px solid #1f77ce;}

.con_title{padding:5px 10px;font-weight:normal;font-size:14px;line-height:20px;background:#f0f7ff;}
.con_title .con_tit_expand{font-size:12px;}
.con_title .con_tit_expand span input[type="radio"]{vertical-align:middle;margin:0 2px 0 0;}
.con_title2{padding:5px 10px;font-weight:normal;font-size:14px;line-height:20px;}
.con_list{height:198px;background:#fff;}
.con_list2{height:218px;background:#fff;}

/*表格样式 淡灰色表头*/
.base_form{width:100%;border-collapse:collapse;line-height:24px;text-align:center;}
.base_form th{font-weight:normal;border:1px solid #cccccc;border-left:none;background:url(../images/base_form_th.png) repeat-x;height:24px;padding:0 3px;}
.base_form td{border-right:1px solid #cccccc;height:24px;padding:0 3px;}
.base_form th.last_col,.base_form td.last_col{border-right:0;}
.base_form tr{background:#fff;}
.base_form tr:nth-child(odd){background:#f4f4f4;}
.base_form tr:hover{background:#e3f1fa;}

/*--错误信息页面--*/
.error_bodybg{background:#c5e8fc;}
.error_msg_bg{background:url(../images/error_msgbg.png) no-repeat;width:891px;height:394px;position:absolute;left:50%;top:50%;margin-left:-445.5px;margin-top:-197px;}
.error_msg{margin-top:95px;text-align:center;}
.error_msg .tips_tit,.error_msg .tips_tit_big{font-size:50px;font-weight:bold;color:#434343;line-height:50px;margin-bottom:50px;}
.error_msg .tips_tit_big{font-size:110px;line-height:85px;}
.error_msg .msg_tips{font-size:26px;font-weight:bold;line-height:26px;color: #676767;margin-bottom:30px;}
.error_msg .msg_tips .im{color:#1470c5;}
.error_msg .back_index,.error_msg .close_it{display:inline-block;padding:5px 14px 5px 30px;color:#fff;font-size:14px;line-height:16px;}
.error_msg .back_index{background:#1470c5 url(../images/error_icon2.png) no-repeat 14px 7px;}
.error_msg .close_it{background:#1470c5 url(../images/error_icon2.png) no-repeat 16px -14px;}


/*add by suhj20160316*/
/*蓝色背景按钮*/
a.s_btn{display:inline-block;background:#4c96f6;border:1px solid #1b71de;border-radius:4px;color:#fff;line-height:20px;padding:2px 20px;}

.mrt10{margin:10px 0 0;}
.main_content{margin:10px 20px 20px;}
.layout_title{color:#4088f0;text-align:center;font-size:20px;margin-bottom:10px;}
.well_module{border:1px solid #e3e3e3;background:#fff;padding:10px;}
.search_form{width:95%;margin:0 auto;}
.search_form tr th{font-weight:400;text-align:right;color:#444;padding-bottom:10px;}
.search_form tr td{padding-bottom:5px;}
.search_form tr td input[type="text"]{width:100%;height:23px;line-height:23px;border:1px solid #d2d4d4;color:#444;}
.search_form tr td select{width:100%;height:27px;line-height:27px;border:1px solid #d2d4d4;color:#444;}
.search_form tr td a.s_btn{color:#fff;}

.park_list{}
.park_list li{width:12.5%;display:inline-block;float:left;}
.park_list li .park_wrap{display:block;padding:6px;width:98px;margin:0 auto 5px;border:1px solid #fff;border-top:3px solid #fff;}
.park_list li .park{position:relative;width:98px;height:98px;background:#4c96f6;}
.park_list li .park .park_pic{display:inline-block;width:63px;height:52px;background:url(../images/car-park.png) no-repeat;position:absolute;top:50%;left:50%;margin-left:-31.5px;margin-top:-26px;}
.park_list li .park_title{display:block;height:40px;line-height:20px;color:#444;font-size:14px;text-align:center;margin-top:2px;}
.park_list li .park_wrap:hover{border:1px solid #e3e3e3;border-top:3px solid #1f77ce;box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);text-decoration:none;}


/*分页*/
.page_list ul{margin:0 auto;text-align:center;}
.page_list ul li{display: inline-block;}
.page_list ul li a{display:inline-block;font-size:14px;color:#99a1a7; background:#e7ebee;width:32px;height:32px;line-height:32px;text-align:center;border-radius:4px;}
.page_list ul li.on a{background:#4c96f6;color:#fff;}

/*媒体查询*/
@media (min-width: 1200px){
    .park_list li .park_wrap{width: 118px;}
    .park_list li .park{width:118px;height:118px;}
}